<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>bienvenido {{user.rol}} {{user.fullname}}</h3>
                   
                    <a href="/links/addtesis" class="btn btn-primary m-4">
                        guardar TESISS  
                    </a>

                </div>
            </div>
        </div>

    </div>
</div>