<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h2>bienvenido </h2>
                    <h3> usuario : {{user.id }} <br> nombre: {{user.fullname}}</h3>
                    
                   
                    <a href="/links/add2" class="btn btn-primary m-4">
                        deseas guardar un estudiante   
                    </a>

                    <a href="/links/list" class="btn btn-primary m-4">
                        ver estudiantes  guardados 
                    </a>

                </div>
            </div>
        </div>

    </div>
</div>